<!DOCTYPE html>
<html>
<body>
<h2>Hi!</h2>

<h3>
    Contact form message sent from Lingerie Web Site.
</h3>
<p>
    <b>Email:</b><a href="mailto:{{ customer_email }}?subject=Re: contact MiroirdeMuses&body={{ customer_email }} a dit: {{ customer_text }}">{{ customer_email }}</a>
</p>
<p>
    <b>Name:</b> {{ customer_name }}
</p>
<p>
    <b>Message:</b> {{ customer_text }}
</p>
</body>
</html>