<!DOCTYPE html>
<html>
<body>

<!-- <p style="font-family:calibri,sans-serif"><b>Chèr(e) {{ customer_name }},</b></p> -->
<p style="font-family:calibri,sans-serif"><b>
    Merci {{ customer_name }} pour votre confiance ! Votre commande de Box Lingerie a bien été validée.
</b></p>
<p style="font-family:calibri,sans-serif">
    Je suis votre styliste, je suis en charge de votre sélection personnelle. Je reste à votre disposition tout au long de votre expérience d'achat, si vous souhaitez échanger par mail ou par téléphone.
</p>
<p style="font-family:calibri,sans-serif">
   La date d'expédition prévue est le <b>12 avril</b>, n’hésitez pas à me contacter si vous rencontrez la moindre difficulté avec la réception.
</p>
<p style="font-family:calibri,sans-serif">
    Bien à vous,
</p>
    <div style="font-family:calibri,sans-serif">
        <div><img type="image/png"></div>
        <div><b>Geneviève Eliard &nbsp;</b></div>
        <div><i>Styliste lingerie et co-fondatrice</i></div>
        <div style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:12.8px">
        <div><font face="arial black, sans-serif"><font size="3" style="color:rgb(0,0,0)"><b>miroir de&nbsp;muses</b></font></font><br></div>
        <div style="color:rgb(0,0,0);font-family:calibri;font-size:medium"><a href="http://www.miroirdemuses.com/" style="color:rgb(17,85,204);font-family:calibri,sans-serif;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.miroirdemuses.com/&amp;source=gmail&amp;ust=1487434852584000&amp;usg=AFQjCNGZ0KmE3PjBJi4UcyTH9jSjSaZOwg">www.m</a><a href="http://www.miroirdemuses.com/" style="color:rgb(17,85,204);font-family:calibri,sans-serif;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=http://www.miroirdemuses.com/&amp;source=gmail&amp;ust=1487434852584000&amp;usg=AFQjCNGZ0KmE3PjBJi4UcyTH9jSjSaZOwg">iroirdemuses.com</a></div></div>
        <span class="im"><span style="font-family:arial,sans-serif;font-size:12.8px">+33 6 64 76 84 98<div><br></div><div><br></div></span></span>

</p>
</body>
</html>
