{% extends "lingerie_app/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <section class="sign colored">
        <div class="container">
            <div class="row">
                <!--                 <div class="col-md-12">
                    <div class="section-title">{% trans "Sign In" %}</div>
                </div> -->
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-wrapper">
                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}
                        <div class="section-subtitle">
                            Déjà inscrit ? Connectez-vous avec votre compte Facebook ou votre adresse e-mail
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-subtitle">
                                    <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn-facebook">
                                        <span class="fa fa-facebook"></span>Se connecter avec Facebook</a>
                                </div>
                            </div>
                        </div>
                        <div class="section-subtitle">
                            ou
                        </div>
                    {% else %}
                        <div class="section-subtitle">
                            {% blocktrans %}If you have not created an account yet, then please
                                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                        </div>
                    {% endif %}
                    <form class="form" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    <label for="{{ form.login.id_for_label }}">Email:</label>
                                    {{ form.login }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><label for="{{ form.password.id_for_label }}">Mot de passe:</label>
                                    {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><a href="{% url 'account_reset_password' %}">{% trans "Mot de passe oublié ?" %}</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    {{ form.remember }}
                                    <label for="{{ form.remember.id_for_label }}">Se souvenir de moi</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-to-action-button-wrap"><button type="submit" class="form-to-action-btn">{% trans "Sign In" %}</button></div>
                            </div>
                        </div>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="service colored">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="service-secure"><div><span>PAIEMENT</span> 100% Sécurisé</div></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="service-client"><div><span>SERVICE CLIENT</span> Besoin d'aide ?<br />Contactez-nous</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
