{% extends "lingerie_app/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <section class="sign colored">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-12">
                    <div class="section-title">Inscrivez-vous pour commencer l'expérience !</div>
                </div>-->
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-wrapper">
                <div class="section-subtitle">Inscrivez-vous pour commencer l'expérience !</div>
                <!-- <div class="section-subtitle">
                    {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                </div>
                -->

                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-subtitle">
                                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn-facebook">
                                    <span class="fa fa-facebook"></span>S'inscrire avec Facebook
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="section-subtitle">
                  ou
                </div>
                <form class="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-to-action-button-wrap"><button type="submit" class="form-to-action-btn">Je m'inscris</button></div>
                        </div>
                    </div>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    </section>
    <section class="service colored">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="service-secure"><div><span>PAIEMENT</span> 100% Sécurisé</div></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="service-client"><div><span>SERVICE CLIENT</span> Besoin d'aide ?<br />Contactez-nous</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
