{% extends 'lingerie_app/base.html' %}
{% load staticfiles %}

{% block head_title %}
    VOTRE MODE DE PAIEMENT - Lingerie Try & Buy Service
{% endblock %}

{% block content %}
    <section class="return">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#charge">Charge</a></li>
                <li><a data-toggle="tab" href="#refund">Refund</a></li>
            </ul>

            <div class="tab-content">
                <div id="charge" class="tab-pane fade in active">
                   {% include 'payments/charge.html' %}
                </div>
                <div id="refund" class="tab-pane fade">
                   {% include 'payments/refund.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}