{% extends 'lingerie_app/base.html' %}
{% load staticfiles %}

{% block head_title %}
    VOTRE MODE DE PAIEMENT
{% endblock %}

{% block content %}
    <section class="cancel">
        <div class="container">
           <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success colored">
                        Votre paiement a malheureusement échoué. Pour toute question, n'hésitez pas à nous contacter à l'adresse e-mail suivante : <a href="mailto:contact@miroirdemuses.com">contact@miroirdemuses.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
