{% extends 'lingerie_app/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}
    Finalisez votre commande
{% endblock %}

{% block content %}
    <script src="{% static "js/jquery.maskedinput.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="https://api.payplug.com/js/1.0/payplug.js"></script>
    <script type="text/javascript">
        Payplug.setPublishableKey('{{ publishable_key }}');

        var payplugResponseHandler = function(code, response, details) {
            console.log(code + ' : ' + response + ' : ' + details);
            if (code == 'card_number_invalid') {
                document.querySelectorAll("#error-card-bad")[0].style.display = 'block';
            }
            if (code == 'cvv_invalid') {
                document.querySelectorAll("#error-cvv-bad")[0].style.display = 'block';
            }
            if (code == 'expiry_date_invalid') {
                document.querySelectorAll("#error-expiry-bad")[0].style.display = 'block';
            }
            if (code == 'payplug_api_error') {
                document.querySelectorAll("#error-api-bad")[0].innerHTML = response + ', details: ' +  details;
                document.querySelectorAll("#error-api-bad")[0].style.display = 'block';
            }
            return false;
        };

        document.addEventListener('DOMContentLoaded', function() {
            [].forEach.call(document.querySelectorAll("[data-payplug='form']"), function(el) {
                el.addEventListener('submit', function(event) {
                    var form = document.querySelectorAll("#paymentForm")[0];
                    Payplug.card.createToken(form, payplugResponseHandler,
                        {
                            'amount': {{ payplug_amount }},
                            'currency': 'EUR'
                        });
                    event.preventDefault();
                })
            })
        });
        {#    Masked inputs #}
        $(function($){
            $("#id_card_number").mask("9999 9999 9999 9999", {placeholder:" "});
            $("#id_card_expiration_date").mask("99/99", {placeholder:" "});
            $("#id_card_ccv").mask("999?9", {placeholder:" "});
        });
        // {# Debugging. Remove after...   #}
        // $(document).ready(function() {
        //     $(".form-to-action-btn").click(function () {
        //         console.log($("#id_card_expiration_date").val());
        //     });
        // });
    </script>

    <section class="payment colored">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-wrapper">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Some little changes by Adrien -->
                            <div class="section-title">Finalisez votre commande</div>
                            <div class="section-subtitle">Expédition le 12 avril</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="payment-check-marks">
                            <div class="col-md-12">
                                <div class="payment-check-mark"><span>Sans obligation d'achat et sans abonnement</span></div>
                            </div>
                            <div class="col-md-12">
                                <div class="payment-check-mark"><span>Payez les articles conservés au retour de votre box</span></div>
                            </div>
                            <div class="col-md-12">
                                <div class="payment-check-mark"><span>Retours et échanges gratuits - 10 jours pour faire votre choix</span></div>
                            </div>
                            <div class="col-md-12">
                                <div class="payment-check-mark"><span>10€ de frais de conseils et livraison, remboursés dès 100€ d'achat</span></div>
                            </div>
                            <div class="col-md-12">
                                <div class="payment-check-mark"><span>Deuxième sélection envoyée gratuitement si vous n'êtes pas satisfait(e) </span></div>
                            </div>
                        </div>
                    </div>

                    <form action="" method="POST" id="paymentForm" class="form" novalidate data-payplug="form">
                        {% csrf_token %}
                        {#                        <div class="row">#}
                        {#                            <div class="col-md-6">#}
                        {#                                <div class="form-field">#}
                        {#                                    <input type="checkbox" id="checkbox-0" /><label for="checkbox-0">J’ai un bon de réduction</label>#}
                        {#                                    <input type="text" placeholder="" />#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="input-error-wrapper" id="error-api">
                            <p class="input-error" id="error-api-bad"></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    <label>{{ form.cardholder_name.label }}</label>
                                    <label class="label-right lock">{% trans "Secure payment by XX" %}</label>
                                    {{ form.cardholder_name }}
                                    {% for error in form.cardholder_name.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><label>{{ form.card_number.label }}</label>
                                    {{ form.card_number|add_class:"card-input"|append_attr:"data-payplug:card_number"|append_attr:"placeholder:XXXX XXXX XXXX XXXX"}}
                                    {% for error in form.card_number.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="input-error-wrapper" id="error-card">
                                    <p class="input-error" id="error-card-bad" style="display:none;">Numéro de carte invalide.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-8">
                                <div class="form-field"><label>{{ form.card_expiration_date.label }}</label>
                                    {{ form.card_expiration_date|append_attr:"placeholder:MM/AA"|append_attr:"data-payplug:card_month_year" }}
                                    {% for error in form.card_expiration_date.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="input-error-wrapper" id="error-expiry">
                                    <p class="input-error" id="error-expiry-bad" style="display:none;">Date d expiration incorrecte.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-8">
                                <div class="form-field"><label>{{ form.card_ccv.label }}</label>
                                    {{ form.card_ccv|append_attr:"placeholder:CVV"|append_attr:"autocomplete:off"|append_attr:"data-payplug:card_cvv" }}
                                    {% for error in form.card_ccv.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="input-error-wrapper" id="error-cvv">
                                    <p class="input-error" id="error-cvv-bad" style="display:none;">Code CVV invalide.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    {{ form.accepted_terms_conditions }}
                                    <label for="{{ form.accepted_terms_conditions.id_for_label }}">
                                        {{ form.accepted_terms_conditions.label }}
                                    </label>
                                    {% for error in form.accepted_terms_conditions.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-footer">
                                    <p>Vous serez prélevé(e) de 10€ pour la livraison de votre box. Vous n’aurez pas de facturation, ni débit supplémentaires avant d’avoir décidé d’acheter un produit de la sélection proposée.</p>

                                    <p><strong>** Nos contributeurs à la campagne de financement participatif Ulule seront automatiquement remboursés des 10€ de frais de service et livraison. Merci pour votre soutien ! **</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-to-action-button-wrap">
                                    <button type="submit" class="form-to-action-btn" data-payplug='submit' onclick="track_click()">JE COMMANDE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="service colored">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-xs-6">

                        <div class="service-secure"><a href="https://www.payplug.com/fr/"><div><span>PAIEMENT</span> 100% Sécurisé</div></a></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="mailto:contact@miroirdemuses.com"><div class="service-client"><div><span>SERVICE CLIENT</span> Besoin d'aide ?<br />Contactez-nous</a></div></div>
            </div>
        </div>
        </div>
        </div>
    </section>

    <!-- Event tracking -->
    <script type="text/javascript">
    function track_click(){

                ga('send', {
          hitType: 'event',
          eventCategory: 'Buttons',
          eventAction: 'click',
          eventLabel: 'Commander'
        });

    }
    </script>

{% endblock %}
