<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<h3>REFUND</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Payment Date</th>
        <th>Payment Amount</th>
        <th>Status</th>
        <th>Refund</th>
    </tr>
    </thead>
    <tbody>
    {% for payment in payment_list %}
        <tr>
            <td>{{ payment.id }}</td>
            <td>{{ payment.user.first_name }} {{ payment.user.last_name }}
                <a href="mailto:{{ payment.user.email }}">{{ payment.user.email }}</a></td>
            <td>{{ payment.payment_date }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.status }}</td>
            <td>
                {% if payment.status == 2 %}
                    <input max="{{ payment.amount }}" type="number" data-id="{{ payment.id }}" class="amount_{{ payment.id }}" name="amount" />
                    <input type="submit" data-payment-id="{{ payment.id }}" class="submit" value="refund" />
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form method="post" action="" id="payment_form">
    {% for hidden in refund_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% csrf_token %}
    <input type="hidden" name="refund" value="true"/>
</form>

<script style="text/javascript">
    $( document ).ready(function() {
        $('.submit').on('click', function (e) {
            e.preventDefault();
            var el = $(this),
                payment_id = el.data('payment-id'),
                amount_element = $('body').find('.amount_' + payment_id),
                val = amount_element.val();

            $('#id_form_payment_id').val(payment_id);
            $('#id_form_amount').val(val);
            $('#payment_form').submit();
        });
    });
</script>
