{% extends 'lingerie_app/base.html' %}
{% load staticfiles %}

{% block head_title %}
    VOTRE MODE DE PAIEMENT
{% endblock %}

{% block content %}
    <section class="return">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success colored">
                            <p>Nous avons bien reçu votre paiement et nous vous en remercions.</p>
                            <p>Nous préparons votre box et vous préviendrons de son envoi. Pour toute question, n'hésitez pas à nous contacter à l'adresse e-mail suivante :</p>
                            <p> <strong><a href="mailto:contact@miroirdemuses.com">contact@miroirdemuses.com</a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}