
@font-face {
	font-family: 'American-Typewriter';
	src: url('American-Typewriter.eot');
	src: local('☺'), url('American-Typewriter.woff') format('woff'), url('American-Typewriter.ttf') format('truetype'), url('American-Typewriter.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ATSackersGothic';
	src: url('ATSackersGothic.eot');
	src: local('☺'), url('ATSackersGothic.woff') format('woff'), url('ATSackersGothic.ttf') format('truetype'), url('ATSackersGothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Neuzeit-S-LT-Book';
	src: url('Neuzeit-S-LT-Book.eot');
	src: local('☺'), url('Neuzeit-S-LT-Book.woff') format('woff'), url('Neuzeit-S-LT-Book.ttf') format('truetype'), url('Neuzeit-S-LT-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chonburi';
	src: url('Chonburi.eot');
	src: local('☺'), url('Chonburi.woff') format('woff'), url('Chonburi.ttf') format('truetype'), url('Chonburi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Riccione-Bold';
	src: url('Riccione-Bold.eot');
	src: local('☺'), url('Riccione-Bold.woff') format('woff'), url('Riccione-Bold.ttf') format('truetype'), url('Riccione-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('Roboto.eot');
	src: local('☺'), url('Roboto.woff') format('woff'), url('Roboto.ttf') format('truetype'), url('Roboto.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'interstate_bold';
    src: url('interstate_bold-webfont.eot');
    src: local('☺'),url('interstate_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_bold-webfont.woff2') format('woff2'),
         url('interstate_bold-webfont.woff') format('woff'),
         url('interstate_bold-webfont.ttf') format('truetype'),
         url('interstate_bold-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'interstate_light';
    src: url('interstate_light-webfont.eot');
    src: local('☺'),url('interstate_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate_light-webfont.woff2') format('woff2'),
         url('interstate_light-webfont.woff') format('woff'),
         url('interstate_light-webfont.ttf') format('truetype'),
         url('interstate_light-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
