* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html,body {text-rendering:auto;-webkit-font-smoothing:antialiased;background:#fff;color:#111;font-family:'Roboto', Helvetica, Arial, sans-serif;}

img {max-width:100%;height:auto;}
a {}
header, section, footer {width:100%;}

.row.row-no-padding [class*="col-"] {padding-left:0 !important;padding-right:0 !important;}



/* HEADER */
.header-spacer {width:100%;height:100px;display:block;}

header {padding: 0.2em 0 0.4em 0;position:fixed;z-index:99;width:100%;background:#fff;top:0;left:0;box-shadow:0 1px 4px rgba(0,0,0,.15), 0 1px 4px rgba(0,0,0,.15);min-height:100px;}
header .header-content {position:relative;min-height:60px;}
header .header-content .mobile-sandvich, header .header-content .mobile-profile {display:none;position:absolute;width:50px;height:50px;background-repeat:no-repeat;background-position:center center;background-color:#fff;background-size:80%;}

header .header-content .mobile-sandvich {left:-5px;top:5px;background-image:url(../img/sandwich_icon.png);transition:all 200ms ease-in-out;}
header .header-content .mobile-sandvich.active {background-image:url(../img/sandwich_icon_close.png);}
header .header-content .mobile-profile {right:-5px;top:5px;background-image:url(../img/profile_icon.png);}

.row.logo-row {text-align:center;}
a.logo {display:inline-block;color:#0e1216;text-decoration:none;}
a.logo h1 {font-size:2.8em;font-family:'interstate_bold';color:#0e1216;}
/* / HEADER */


/* NAVBAR */

#navbar ul {list-style:none;margin:0;padding:0;width:100%;text-align:center;}
#navbar ul li {list-style:none;padding:0;display:inline-block;margin:0 5px;}
#navbar ul li a {display:block;text-transform:uppercase;text-decoration:none;color:#000007;font-family:'interstate_light';padding:0.3em;font-size:1.2em;font-weight: lighter;}
#navbar ul li a:hover, #navbar ul li.active a {color:#f4a095;}

/* /NAVBAR */

/* MOBILE MENU */
#mobile-menu {display:none;background:#fff;text-align:center;padding:1.5em 0;}
#mobile-menu ul {padding:0;margin:0;list-style:none;}
#mobile-menu ul li a {color:#000007;box-sizing:border-box;padding:0.7em 0.5em;border-bottom:1px solid rgba(0,0,0,0.1);display:block;text-align:center;font-family:'interstate_light';font-size:1.1em;text-transform:uppercase;text-decoration:none;
}
#mobile-menu  ul li a:hover, #mobile-menu  ul li.active a {color:#f4a095;}

/* /MOBILE MENU */

/* COVER SECTION */
#cover {height:auto;min-height:585px;width:100%;box-sizing:border-box;display:block;position:relative;margin:0;padding:4.5em 0 1.5em 0;}
#cover .cover-bg {position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;background:#eee url(../img/demo_img/cover2.jpg) no-repeat 50% 50%/* fixed*/;background-size:cover;}
#cover .cover-info {display:block;background:#fff;padding:2em 1.5em;text-align:center;position:relative;margin:0 auto;width:90%;box-sizing:border-box;}
#cover .cover-info .cover-title {font-size:2.8em;font-family:'interstate_bold';color:#0e1216;}
#cover .cover-info .cover-description {font-size:2em;line-height:1.1em;font-family:'interstate_light';font-weight:lighter;color:#000006;}

#cover .cover-button-wrap {text-align:center;position:relative;width:100%;padding:5em 0 3.5em 0;}

#cover .cover-check-marks {padding:1em 0;width:100%;float:left;}
#cover .cover-check-marks .cover-check-mark {color: #fa8777;font-size: 1.3em;font-family: 'interstate_light';text-align: center;padding: 0.5em 0.5em 0.5em 1em;display: block;min-width: 240px;max-width: 400px;width: 90%;margin: 0 auto;box-sizing: border-box;}
#cover .cover-check-marks .cover-check-mark span {position:relative;}
#cover .cover-check-marks .cover-check-mark span:before {content:'';position:absolute;width:44px;height:44px;left:-44px;top:50%;margin-top:-22px;background:url(../img/check_mark_.png) center center no-repeat;background-size:70%;}

/* / COVER SECTION */

/* STEPS SECTION */

#steps {padding:3em 0 4em 0;}
#steps .step-item {padding:3em 0;text-align:center;}
#steps .step-item .step-item-number {font-family:'interstate_bold';display:inline-block;color:#f3a096;font-size:3.5em;line-height:1.1em;border-bottom:4px;}
#steps .step-item .step-item-title {font-family:'interstate_bold';display:block;color:#f3a096;font-size:1.6em;padding:0.6em 0 0.3em 0;}
#steps .step-item .step-item-description {font-family:'Neuzeit-S-LT-Book';display:block;color:#3b3e40;font-size:1.1em;padding:0 0.6em;}

/* /STEPS SECTION */

/* INTO ARTICLE SECTION */

.intro {background:#fff;}
.intro.colored, .intro.colored .intro-content {background:#fef2f0;}
.intro .intro-image {height:480px;width:100%;display:block;background-color:#fff;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.intro .intro-content {width:100%;box-sizing:border-box;padding:5.5em;}

.intro .intro-content .intro-content-title {color:#000;font-family:'interstate_bold';display:block;font-size:2.2em;margin-bottom:0.7em;}
.intro .intro-content .intro-content-text {color:#000006;display:block;font-size:1.4em;margin-bottom:0.7em;font-family:'Roboto';}

/* /INTO ARTICLE SECTION */

/* CONTACT SECTION */
.contact {background:#fbdcd7;padding:1.5em 0.2em;box-shadow:inset 0 15px 15px -5px rgba(0,0,0,0.15);}
.contact form.form button.form-to-action-btn {font-family:'interstate_bold';}
/* /CONTACT SECTION */

/* SOCIAL LINKS */
.row.social-links {margin-bottom:2em;}
.social-title {text-align:center;padding:0.5em;}
.social-title a {display:inline-block;font-size:2em;font-family:'Riccione-Bold';text-decoration:none;}
.social-title a i {padding-right:0.5em;font-size:2em;vertical-align:middle;}
.social-title.social-facebook a {color:#f3a096;}
.social-title.social-pinterest a {color:#f3a096;}
.social-title.social-instagram a {color:#f3a096;}
/* /SOCIAL LINKS */

/* INSTAGRAM SECTION */
.instagram {padding:0.5em 0.2em 0 0.2em;}
.instagram .instagram-title{padding:0em 0.2em 1.5em 0.2em;font-size:2.2em;color:#000006;font-family:'Riccione-Bold';display:block;text-align:center;}
.instagram .instagram-title span {display:inline-block;position:relative;padding-right:50px;}
.instagram .instagram-title span:after {content:'';position:absolute;right:0;top:50%;margin-top:-20px;height:40px;width:40px;display:block;background-image:url(../img/insta_icon.png);background-position:center center;background-repeat:no-repeat;background-size:90%;}
/*.instagram .instagram-photo {position:relative;display:block;text-align:center;width:100%;max-height:330px;overflow:hidden;} Matvey backup*/
.instagram .instagram-photo {position:relative;display:block;text-align:center;width:100%;height:auto;overflow:hidden;}
.instagram .instagram-photo>div {position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;background:rgb(255, 203, 195);background:rgba(255, 203, 195, 0.7);opacity:0;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;transition:all .25s ease-out;color:#fff;text-align:center;display:block;}
.instagram .instagram-photo>div>div {display:table;width:100%;height:100%;margin:0 auto;text-align:center;}
.instagram .instagram-photo>div>div>span {font-size:2em;line-height:1em;color:#fff;font-family:'Riccione-Bold';position:relative;text-align:center;display:table-cell;width:100%;box-sizing:border-box;padding:0 30px;vertical-align:middle;}
.instagram .instagram-photo img {display:inline-block;vertical-align:middle;max-width:100%;height:auto;-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;transition:all .25s ease-out;}
.instagram .instagram-photo:hover img {transform:scale(1.05);-ms-transform:scale(1.05);-webkit-transform:scale(1.05);}
.instagram .instagram-photo:hover div {opacity:1;}
/* /INSTAGRAM SECTION */

/* SERVICE SECTION */
.service {padding:1.5em 0.2em;}
.service.colored {background:#fbdcd7;}
.service .service-secure {display:inline-block;text-align:left;padding-left:80px;position:relative;height:100px;line-height:100px;float:left;}
.service .service-client {display:inline-block;text-align:right;padding-right:80px;position:relative;height:100px;line-height:100px;float:right;}
.service .service-secure div, .service .service-client div{display:inline-block;vertical-align:top;font-size:1em;line-height:1.3em;font-family:'Neuzeit-S-LT-Book';color:#000;}
.service .service-secure div span, .service .service-client div span{display:block;text-transform:uppercase;font-weight:bold;padding-bottom:0.3em;}

.service .service-secure:before {content:'';display:block;width:70px;height:70px;position:absolute;left:0;top:-10px;background-repeat:no-repeat;background-position:center center;background-image:url(../img/info_icons/info7.png);background-size:cover;}
.service .service-client:before {content:'';display:block;width:70px;height:70px;position:absolute;right:0;top:-10px;background-repeat:no-repeat;background-position:center center;background-image:url(../img/info_icons/info8.png);background-size:cover;}

@media (max-width:499px) {.service .service-secure {display:inline-block;text-align:center;padding-left:0;padding-top:80px;height:100px;width:100%;line-height:100px;float:none;}.service .service-client {display:inline-block;text-align:center;padding-right:0;padding-top:80px;height:100px;width:100%;line-height:100px;float:none;}.service .service-secure:before {left:50%;margin-left:-35px;top:-10px;}.service .service-client:before {right:auto;left:50%;margin-left:-35px;top:-10px;}
}
/* /SERVICE SECTION */

/* BRANDS SECTION */

#brands {padding:3em 0 4em 0;}
#brands ul {list-style:none;margin:0;padding:0;width:100%;text-align:center;/* FOR FULL WIDTH POSITIONING */}
#brands ul > li {list-style:none;margin:0;padding:0;display:inline-block;box-sizing:border-box;width:19%;	/* FOR FULL WIDTH POSITIONING */padding:0 0.15%;}
#brands ul li a {display:block;text-decoration:none;height:10em;line-height:10em;text-align:center;}
#brands ul li a img {display:inline-block;vertical-align:middle;}

/* / BRANDS SECTION */

/* PRESS SECTION */

#press {padding:2em 0}
#press ul {list-style:none;margin:0;padding:0;width:100%;text-align:center;/* FOR FULL WIDTH POSITIONING */}
#press ul > li {list-style:none;margin:0;padding:0;display:inline-block;box-sizing:border-box;width:19%;	/* FOR FULL WIDTH POSITIONING */padding:0 0.15%;}
#press ul li a {display:block;text-decoration:none;height:10em;line-height:10em;text-align:center;}
#press ul li a img {display:inline-block;vertical-align:middle;}

/*
.owl-buttons .owl-prev {left:0;background-image:url(../img/arrow_left_inv.png)!important;}
.owl-buttons .owl-next {right:0;background-image:url(../img/arrow_right_inv.png)!important;}
*/

/* / PRESS SECTION */

#brands .owl-buttons, #press .owl-buttons {display:none!important;}

/* REVIEWS SECTION */
#reviews {height:auto;min-height:415px;width:100%;box-sizing:border-box;display:block;position:relative;margin:0;padding:6.5em 0;}
#reviews .reviews-bg {position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;background-color:#eee;background-repeat:no-repeat;background-position:center center;background-size:cover;}
#reviews .review-info {display:block;background:#fff;padding:2em 1.5em;text-align:center;position:relative;margin:0 auto;width:75%;box-sizing:border-box;}
#reviews .review-info .review-text {font-size:2em;line-height:1.1em;font-family:'interstate_light';color:#000006;}
#reviews .review-info .review-author {font-size:2.4em;font-family:'interstate_bold';color:#0e1216;margin-top:0.5em;}

#reviews .reviews-slider {width:100%;}
#reviews .reviews-slider ul {list-style:none;padding:0;margin:0;}
#reviews .reviews-slider ul li {list-style:none;padding:0;margin:0;}
#reviews .owl-pagination {display:none;}
#reviews .owl-buttons {position:absolute;top:50%;width:100%;}
#reviews .owl-buttons .owl-next, #reviews .owl-buttons .owl-prev {display:block;text-indent:-9999em!important;display:block!important;width:30px!important;height:40px!important;position:absolute!important;top:auto!important;background-color:transparent!important;background-position:center center!important;background-repeat:no-repeat!important;padding:0!important;border-radius:0!important;}
#reviews .owl-buttons .owl-prev {left:-15px;background-image:url(../img/arrow_left.png)!important;opacity:1!important;margin-top: -20px!important;}
#reviews .owl-buttons .owl-next {right:-15px;background-image:url(../img/arrow_right.png)!important;opacity:1!important;margin-top: -20px!important;}

/* /REVIEWS SECTION */

/* CALL TO ACTION SECTION */
.call-to-action-button-wrap {text-align:center;position:relative;width:100%;padding:1.5em 0}
a.call-to-action-btn {text-decoration:none;display:inline-block;padding:0.4em 1em;font-size:1.7em;font-size:1.7em;line-height:1;font-family:'interstate_light';color:#fff;background:#f4a095;}
.call-to-action {padding:2em 0 4em 0;}
.call-to-action .call-to-action-title {font-family:'interstate_bold';font-size:3em;color:#f4a095;text-align:center;display:block;padding:1em 0 0.5em 0}

/* /CALL TO ACTION SECTION */


/* INFO BLOCKS SECTION */

.info-blocks {background:#fef2f0;padding:1.5em 0;}
.info-blocks.colored {background:#fbdcd7;}
.info-blocks .info-blocks-title {font-size:2em;color:#000006;font-family:'interstate_bold';display:block;text-align:center;padding:0.5em 0;}
.info-blocks .info-block-item {padding:1em 0;}
.info-blocks .info-block-item .info-block-title {display:block;text-align:center;font-size:1.5em;font-family:'interstate_light';color:#000006;margin-bottom:0.5em;}
.info-blocks .info-block-item .info-block-description {display:block;text-align:center;font-size:1.2em;line-height:1.8em;font-family:'Roboto';color:#2a2d30;}
.info-blocks .info-block-item .info-block-icon {display:block;text-align:center;padding:1em 0 2em 0;}
.info-blocks .info-block-item .info-block-icon i {display:inline-block;width:80px;height:80px;background-position:center center;background-repeat:no-repeat;background-color:transparent;}


.info-blocks .info-block-item .info-block-icon.info-block-icon-1 i {background-image:url(../img/info_icons/info1.png);}
.info-blocks .info-block-item .info-block-icon.info-block-icon-2 i {background-image:url(../img/info_icons/info2.png);}
.info-blocks .info-block-item .info-block-icon.info-block-icon-3 i {background-image:url(../img/info_icons/info3.png);}
.info-blocks .info-block-item .info-block-icon.info-block-icon-4 i {background-image:url(../img/info_icons/info4.png);}
.info-blocks .info-block-item .info-block-icon.info-block-icon-5 i {background-image:url(../img/info_icons/info5.png);}
.info-blocks .info-block-item .info-block-icon.info-block-icon-6 i {background-image:url(../img/info_icons/info6.png);}

/* /INFO BLOCKS SECTION */

/* SIGN SECTION*/
.sign {}
.sign.colored {background:#fbdcd7;}

/* SIGN SECTION*/
.shipping {}
.shipping.colored {background:#fbdcd7;}

/* PAYMNET SECTION */
.payment {}
.payment.colored {background:#fbdcd7;}
.payment-check-marks {padding:0 1.5em;}
.payment-check-marks .payment-check-mark {color:#313131;font-size:1.3em;font-family:'Roboto';text-align:left;width:100%;padding:0.5em 1em;box-sizing:border-box;}
.payment-check-marks .payment-check-mark span {position:relative;}
.payment-check-marks .payment-check-mark span:before {content:'';position:absolute;width:44px;height:44px;left:-44px;top:50%;margin-top:-22px;background:url(../img/check_mark_.png) center center no-repeat;background-size:30%;}
.payment input.card-input {background-image:url(../img/card_icon.png);background-position:left center;background-repeat:no-repeat;padding-left:3em!important;}

/* PAGE SECTION */
.section-title {font-size:2em;color:#000;font-family:'interstate_bold';text-align:center;display:block;padding:0.5em 0 0 0}
.section-subtitle {font-size:1.5em;color:#000;font-family:'interstate_light';text-align:center;display:block;padding:0.5em 0;}
/* /PAGE SECTION*/

/* PAGE FORM WRAPPER */
.form-wrapper {padding:3.5em 4.5em 1em 4.5em;margin:2em auto;}
.colored .form-wrapper {background:#fff;}
.colored .form-wrapper form.form button.form-to-action-btn {background:#f4a095;}

/* FORM*/
form.form {padding:1.5em 0.2em;}
form.form .form-to-action-button-wrap {text-align:center;position:relative;width:100%;padding:2em 0;}
form.form button.form-to-action-btn {text-decoration:none;display:inline-block;padding:0.4em 1em;font-size:1.7em;line-height:1;font-family:'ATSackersGothic';color:#fff;background:#000000;border:0 none;}
form.form .form-footer {text-align:center;padding:1em 0;font-size:1.2em;color:#000;font-family:'Neuzeit-S-LT-Book'}
form.form .form-field {padding:0.3em 0;position:relative;display:block;width:100%;}
form.form .form-field label {font-family:'interstate_light';text-transform:uppercase;color:#000;display:inline-block;font-size:1em;padding:0.2em 0;position:relative;}
form.form .form-field label span.highlight {font-family:'Neuzeit-S-LT-Book';text-transform:none;color:#fba195;display:block;font-size:1.0em;padding:0.25em 0;display:inline-block;position:relative;}
form.form .form-field label span.label-sub {font-family:'Neuzeit-S-LT-Book';text-transform:none;color:#313131;display:block;font-size:1.1em;padding:0.2em 0;display:block;position:relative;}
form.form .form-field label.label-right {font-family:'Neuzeit-S-LT-Book';text-transform:none;color:#313131;display:block;font-size:0.9em;float:right;position:relative;}
form.form .form-field label.label-right.lock:before {content:'';position:absolute;width:24px;height:28px;left:-28px;top:50%;margin-top:-18px;background:url(../img/lock_icon.png) center center no-repeat;background-size:80%;}
form.form .form-field input[type='text'], form.form .form-field input[type='email'], form.form .form-field input[type='password'] {width:100%;box-sizing:border-box;border:1px solid #313131;height:2em;padding:0.2em 0.5em;font-size:1.2em;font-family:'Neuzeit-S-LT-Book';color:#000;border-radius:0!important;}
form.form .form-field textarea {width:100%;box-sizing:border-box;border:1px solid #313131;padding:0.2em 0.5em;font-size:1.2em;font-family:'Neuzeit-S-LT-Book';color:#000;border-radius:0!important;}

form.form .form-field input[type="checkbox"]:not(old),
form.form .form-field input[type="radio"]:not(old){width:22px;height:22px;margin:0;padding:0;opacity:0;cursor:pointer;/*display:none;*/display:block;position: absolute;left:0;top:11px;}
form.form .form-field input[type="checkbox"]:not(old) + label,
form.form .form-field input[type="radio"]:not(old) + label{position:relative;padding:0.5em 0.5em 1em 3em;cursor:pointer;font-size:0.8em;}
form.form .form-field input[type="checkbox"]:not(old) + label:before,
form.form .form-field input[type="radio"]:not(old) + label:before{content:'';display:block;position:absolute;margin:0;padding:0;left:0px;top:10%;/*top:50%;margin-top:-14px;*/width:22px;height:22px;background-color:transparent;background-image:url(../img/checkbox.png);background-repeat:no-repeat;background-position:-24px 0;line-height:22px;cursor:pointer;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
form.form .form-field input[type="radio"]:not(old) + label:before {background-position:-120px 0;}
form.form .form-field input[type="checkbox"]:not(old):checked + label:before{background-position:-48px 0!important;color:#ff7242;}
form.form .form-field input[type="radio"]:not(old):checked + label:before{background-position:-168px 0!important;color:#ff7242;}

.btn-facebook {color: #fff;background-color: #3b5998;border-color: rgba(0,0,0,0.2);display:inline-block;text-decoration:none!important;margin:0;position: relative;text-align: left;border-radius: 3px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 6px 12px;padding-left: 44px;font-size: 14px;font-family: 'Roboto';}
.btn-facebook span {position: absolute;left: 0;top: 0;bottom: 0;width: 32px;line-height: 34px;font-size: 1.6em;text-align: center;border-right: 1px solid rgba(0,0,0,0.2);}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover.btn-facebook:active:focus,.btn-facebook.active:focus,.btn-facebook:active.focus,.btn-facebook.active.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

/* /FORM*/

/* FOOTER */
footer {background:#000006;color:#ffffff;padding:2.5em 0;min-height:100px}
/*footer ul {list-style:none;margin:0;padding:0;}
footer ul>li {list-style:none;margin:0.5em 0;padding:0;}
footer ul>li a {color:#fff!important;text-decoration:none;font-family:'Neuzeit-S-LT-Book';font-size:1.3em;}
footer ul>li a:hover {color:#f4a095!important;text-decoration:none;}
footer ul>li:first-child a {font-family:'ATSackersGothic';text-transform:uppercase;}
/* /FOOTER */*/

/* FOOTER TO BOTTOM */
#page-wrapper {
	display: flex;
    flex-direction: column;
	height: 100%;
}
#page-content {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
/* /FOOTER TO BOTTOM */

/* ALERTS/INFO */
.alert {}
.alert.colored {
	background: #fbdcd7!important;
    font-size: 1.2em;
    color: #333;
    border-radius: 0;
    border: 0;
    text-shadow: none!important;
    margin: 3em 0;
}
.alert.colored a {color:#333!important;border-bottom:1px dashed #333;text-decoration:none;}
/* /ALERTS/INFO */
/****************** MOBILE VIEW ******************/

@media (max-width: 767px) {
	.header-spacer {width:100%;height:70px;display:block;}
	header {min-height:70px;}

	header .header-content .mobile-sandvich, header .header-content .mobile-profile {display:block;}
	#navbar {display:none;}
	a.logo h1 {font-size: 1.8em;}
	a.call-to-action-btn {padding:0.7em 0.8em;font-size:1.3em;}
	form.form button.form-to-action-btn {padding:0.7em 0.8em;font-size:1.3em;}
	form.form .form-field label {font-size:0.9em;}
	form.form .form-field label.label-right {font-size:0.8em;}
	form.form .form-footer {font-size:1em;}

	#cover {padding-top:3.5em}
	#cover .cover-info {padding:1em 0.7em;}
	#cover .cover-info .cover-title {font-size:1.8em}
	#cover .cover-info .cover-description {font-size:1.3em;}
	#cover .cover-check-marks .cover-check-mark {text-align:left;}

	.instagram .instagram-photo>div>div>span {font-size:1.4em;padding:0 15px;}

	#reviews {padding:5em 0;}
	#reviews .review-info {padding:1em 0.7em;}
	#reviews .review-info .review-text {font-size:1.3em;}
	#reviews .review-info .review-author {font-size:1.8em;}


	.intro-block {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column-reverse;
		flex-flow: column-reverse;
	}
	.intro-block .intro-image {
		order: 1;height:400px;
	}
	.intro-block .intro-content {
		order: 2;
	}

	#brands {padding:1.5em 0 2em 0;}
	#press {padding:1.5em 0 2em 0;}

	.intro .intro-content {padding:3em;}
	.intro .intro-content .intro-content-title {font-size:1.9em;}

	.call-to-action {padding:2em 0 1.5em 0;}
	.call-to-action .call-to-action-title {font-size:2.5em;}
	.call-to-action .call-to-action-button-wrap {padding:2.5em 0 1.7em 0;}


	.payment {}
	.payment-check-marks .payment-check-mark {font-size:1.1em;}

	.section-title {font-size:1.5em;color:#000;font-family:'Riccione-Bold';text-align:center;display:block;padding:0.3em 0 0 0}
	.section-subtitle {font-size:1.1em;color:#000;font-family:'ATSackersGothic';text-align:center;display:block;padding:0.3em 0;}

    .form-wrapper {padding:1em 1.5em 0.5em 1.5em;margin:1em auto;}

	footer ul>li a {font-size:1em;}
}

/****************** /MOBILE VIEW ******************/

#ML {color:#ffffff;}
#CGV {color:#ffffff;}
#rsbas {color:#ffffff;}
