{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}{% endblock %}</title>


    <!-- Add Favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/mdm-favicon-01.ico' %}" />

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'fonts/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


        <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92265728-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

        <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="https://v2.zopim.com/?2MvMmZ6UkCovCUTNVuaXEEVb59WjPZ4h";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->

    <!-- / -->
</head>
<body>
<!-- Page Content -->
<header>
    <div class="container">
        <div class="row logo-row">
            <div class="col-md-12">
                <div class="header-content">
                    <a href="#menu" class="mobile-sandvich"></a>
                    <a href="/" class="logo"><h1>miroir de muses</h1></a>
                    <!-- <a href="#profile" class="mobile-profile"></a> -->
                </div>
            </div>
        </div>
        <div class="row menu-row">
            <div class="col-md-12">
                <div id="navbar">
                    <ul>
                        <li><a href="/#steps">COMMENT ÇA MARCHE ?</a></li>
                        <li><a href="{% url 'account_signup' %}">COMMANDER</a></li>
                        <li><a href="/#prix">NOS PRIX</a></li>
                        <li><a href="/#collections">LES MARQUES</a></li>
                        <li><a href="/#engagements">NOS ENGAGEMENTS</a></li>
                      <!--  <li><a href="mailto:contact@miroirdemuses.com">OFFRIR UN CADEAU</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="mobile-menu">
        <ul>
            <li><a href="/#steps">COMMENT ÇA MARCHE ?</a></li>
            <li><a href="{% url 'quiz_page' %}">COMMANDER</a></li>
            <li><a href="/#prix">NOS PRIX</a></li>
            <li><a href="/#brands">LES MARQUES</a></li>
            <li><a href="/#engagements">NOS ENGAGEMENTS</a></li>
           <!-- <li><a href="mailto:contact@miroirdemuses.com">OFFRIR UN CADEAU</a></li> -->
        </ul>
    </div>
</header>
<div id="page-wrapper">
    <div id="page-content">
        <div class="header-spacer"></div>
        {# Show splash messages if exist >>> See docs about Django messages. #}
        {% include 'lingerie_app/messages.html' %}

        {# Main content goes here #}
        {% block content %}
        {% endblock %}

    </div>
    <!-- <footer>
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <ul>
                            <li><a href="mailto:contact@miroirdemuses.com">NOTRE SERVICE CLIENT</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Les réponses à vos questions</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Livraisons & retours</a></li>
                            <li><a href="https://www.payplug.com/fr/">Paiement sécurisé</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <ul>
                            <li><a href="mailto:contact@miroirdemuses.com">A PROPOS</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Manifesto</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Marques</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Mentions légales</a></li>
                            <li><a href="mailto:contact@miroirdemuses.com">Recrutement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->

    <!-- Footer transmis par Margot -->

    <footer>
        <div class="container">
            
                            <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                <form action="//miroirdemuses.us3.list-manage.com/subscribe/post?u=5c90ee3bd842276df593a076e&amp;id=69e66ce589" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Newsletter</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse e-mail" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5c90ee3bd842276df593a076e_69e66ce589" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                <br>
                </div>

                <!--End mc_embed_signup-->



            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Miroir de Muses 2017</span>
                    

                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.instagram.com/miroirdemuses/" id="rsbas"><i class="fa fa-instagram"></i></a>
                        <li><a href="https://www.facebook.com/MiroirDeMuses/" id="rsbas"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.pinterest.com/miroirdemuses/" id="rsbas"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li><a href="https://twitter.com/MargotMdM" id="rsbas"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>

                </div>
                
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{% static 'img/CGV.pdf' %}" id="CGV">Conditions Générales de Ventes</a>
                        </li>
                        <li><a href="http://www.miroirdemuses.com/fr/content/2-mentions-legales" id="ML">Mentions légales</a>
                        </li>
                    </ul>
                </div>
             
            </div>
        </div>
    </footer>





<!--End mc_embed_signup-->



</div>
<script src="{% static 'js/interface.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom Helpers JavaScript -->
<script src="{% static 'js/helpers.js' %}"></script>

<!-- added by Adrien to manage anchors -->
<script type="text/javascript">
function addMargin() {
    window.scrollTo(0, window.pageYOffset - 100);
}

window.addEventListener('hashchange', addMargin);
</script>



</body>
</html>
