{% extends 'lingerie_app/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}
    Box Lingerie Miroir de Muses
{% endblock %}

{% block content %}
    <section id="cover">
        <!--<div class="cover-bg" style="background-image:url({% static 'img/demo_img/cover_bg.jpg' %});"></div>-->
        <div class="cover-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="cover-info">
                        <div class="cover-title">
                            Personal shopping
                        </div>
                        <div class="cover-description">
                            <p>LINGERIE</p>
                            Votre styliste vous envoie une sélection surprise et personnalisée de lingerie selon vos envies. Essayez chez vous avant d'acheter !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="cover-button-wrap">
                        <a href="{% url 'account_signup' %}" class="call-to-action-btn">JE COMMENCE L'EXPERIENCE</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cover-check-marks">
                    <div class="col-md-4">
                        <div class="cover-check-mark"><span>DECOUVREZ DE NOUVELLES MARQUES</span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="cover-check-mark"><span>BÉNÉFICIEZ DE NOS CONSEILS MORPHO</span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="cover-check-mark"><span>ESSAYEZ AVANT D'ACHETER</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="steps">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="step-item">
                        <div class="step-item-number">1</div>
                        <div class="step-item-title">Exprimez vos envies</div>
                        <div class="step-item-description">Confiez-nous votre morphologie, votre style et votre budget grâce à notre questionnaire en ligne.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="step-item">
                        <div class="step-item-number">2</div>
                        <div class="step-item-title">Découvrez votre box</div>
                        <div class="step-item-description">Votre styliste sélectionne 3 ensembles lingerie et vous les fait livrer chez vous. Vous avez 10 jours pour essayer !</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="step-item">
                        <div class="step-item-number">3</div>
                        <div class="step-item-title">Achetez ce que vous aimez</div>
                        <div class="step-item-description">Payez plus tard ce que vous souhaitez garder et renvoyez le reste sans frais !</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="intro colored">
        <div class="container-fluid">
            <div class="row row-no-padding">
                <div class="intro-block">
                    <div class="col-md-6">
                        <div class="intro-content">
                            <div class="intro-content-title">
                                Une sélection lingerie adaptée à votre morphologie
                            </div>
                            <div class="intro-content-text">
                                Fini les inconforts, les bretelles qui glissent, les armatures qui blessent… Les caractéristiques techniques de tous nos produits sont étudiées. En fonction de votre morphologie, nous pouvons établir des recommandations. Le questionnaire en ligne vous permet de définir votre profil, préciser votre style et vos envies.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="intro-image" style="background-image:url({% static 'img/demo_img/MDM-siteV1.jpg' %});"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="intro">
        <div class="container-fluid">
            <div class="row row-no-padding">
                <div class="intro-block">
                    <div class="col-md-6">
                        <div class="intro-content">
                            <div class="intro-content-title" id="collections">
                                Des collections composées de vos marques préférées et de pièces de créateurs du monde entier
                            </div>
                            <div class="intro-content-text">
                                Nos collections sont sans cesse renouvelées. On aime vous faire découvrir de nouvelles marques que vous n’avez pas l’habitude de voir en magasin, avec des exclusivités et des séries limitées.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="intro-image" style="background-image:url({% static 'img/demo_img/MDM-siteV2bis.png' %});"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="brands">
        <div class="container-fluid">
            <div class="row row-no-padding">
                <div class="col-md-12">
                    <ul>
                        <li><img src="{% static 'img/demo_img/brands/1logo-aubade.jpg' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/2logo-yse.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/3logo-YasmineE.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/4logo-empreinte.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/5logo-agent.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/6logo-stella.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/7logo-joliesM.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/8logo-chichi.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/brands/9logo-pom.png' %}" alt="" /></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="intro">
        <div class="container-fluid">
            <div class="row row-no-padding">
                <div class="intro-block">
                    <div class="col-md-6">
                        <div class="intro-content">
                            <div class="intro-content-title">
                                Découvrez-vous
                            </div>
                            <div class="intro-content-text">
                                Acheter de la lingerie fine, c’est se choyer, c’est s’autoriser à être belle et désirable. Votre styliste vous accompagne dans cet achat pour qu’il devienne un plaisir. Dans le confort de votre domicile, vous pourrez essayer et faire votre choix en toute tranquilité.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="intro-image" style="background-image:url({% static 'img/demo_img/MDM-siteV3.jpg' %});"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="action-block">
                    <div class="col-md-12">
                        <div class="call-to-action-title">
                            Découvrez la lingerie autrement !
                        </div>
                        <div class="call-to-action-button-wrap">
                            <a href="{% url 'account_signup' %}" class="call-to-action-btn">JE COMMENCE L'EXPERIENCE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="prix" class="info-blocks colored">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="info-blocks-title">PRIX</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-block-item">
                        <div class="info-block-icon info-block-icon-1"><i></i></div>
                        <div class="info-block-title">
                            AUCUNE PRESSION
                        </div>
                        <div class="info-block-description">
                            Grâce à une empreinte de carte bancaire, vous payez plus tard ce que vous avez décidé d’acheter. Aucune obligation d'achat.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-block-item">
                        <div class="info-block-icon info-block-icon-2"><i></i></div>
                        <div class="info-block-title">
                            BUDGET
                        </div>
                        <div class="info-block-description">
                            10€ de frais de conseils et livraison, remboursés dès 100€ d'achat. Vous fixez votre budget lingerie (à partir de 80€ l'ensemble) - Prix boutique.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-block-item">
                        <div class="info-block-icon info-block-icon-3"><i></i></div>
                        <div class="info-block-title">
                            RETOUR GRATUIT
                        </div>
                        <div class="info-block-description">
                            Les retours ou échanges sont simples et gratuits. Si vous n'êtes pas satisfaite de votre sélection, nous envoyons gratuitement une deuxième sélection.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="engagements" class="info-blocks">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="info-blocks-title">ENGAGEMENTS</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-block-item">
                        <div class="info-block-icon info-block-icon-4"><i></i></div>
                        <div class="info-block-title">
                            A VOTRE RYTHME
                        </div>
                        <div class="info-block-description">
                            Sans abonnement, vous commandez votre box à chaque fois que vous en avez envie !
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-block-item">
                        <div class="info-block-icon info-block-icon-5"><i></i></div>
                        <div class="info-block-title">
                            AMÉLIORATION CONTINUE
                        </div>
                        <div class="info-block-description">
                            Vos retours sur les sélections que vous avez reçues nous permettent de mieux cibler vos besoins à chaque nouvel envoi !
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-block-item">
                        <div class="info-block-icon info-block-icon-6"><i></i></div>
                        <div class="info-block-title">
                            HYGIÈNE
                        </div>
                        <div class="info-block-description">
                            Encore plus exigeant qu'en magasin ! Nous protégeons les produits pour l’essayage et assurons un contrôle strict à chaque retour.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews">
        <div class="reviews-bg" style="background-image:url({% static 'img/demo_img/MDM-site-customers.jpg' %});"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="reviews-slider">
                        <ul>
                            <li>
                                <div class="review-info">
                                    <div class="review-text">"J'ai apprécié prendre mon temps à la maison et pouvoir montrer à mon amoureux qui déteste le shopping !"</div>
                                    <div class="review-author">MERRYL</div>
                                </div>
                            </li>
                            <li>
                                <div class="review-info">
                                    <div class="review-text">"Je me suis sentie choyée et unique."</div>
                                    <div class="review-author">MONIA</div>
                                </div>
                            <li>
                                <div class="review-info">
                                    <div class="review-text">"J'ai adoré recevoir des pièces de lingerie (à la bonne taille!) que je n'aurais pas choisi par moi même."</div>
                                    <div class="review-author">LAËTITIA</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="press">
        <div class="container-fluid">
            <div class="row row-no-padding">
                <div class="col-md-12">
                    <ul>
                        <li><img src="{% static 'img/demo_img/press/1logo-lexpress.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/2logo-bfm.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/3logo-marieclair.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/4logo-cosmo.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/5logo-paulette.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/6logo-kenza.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/7logo-fr2.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/8logo-pandora.png' %}" alt="" /></li>
                        <li><img src="{% static 'img/demo_img/press/8logo-parisMtach.png' %}" alt="" /></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action-button-wrap">
                        <a href="{% url 'account_signup' %}" class="call-to-action-btn">JE COMMENCE L'EXPERIENCE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

            <!-- Added by Adrien -->
             <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-title">Retrouvez-nous sur les réseaux sociaux !</div>
                    <br>
                  </div>
                </div>
              </div>
            <!-- end Adrien -->

    <section class="instagram">
        <div class="container-fluid">
            <div class="row social-links">
                <div class="col-md-4">
                    <div class="social-title social-facebook"><a href="https://www.facebook.com/MiroirDeMuses/?ref=bookmarks" target="_blank"><i class="fa fa-facebook-official"></i><span>Facebook</span></a></div>
                </div>
                <div class="col-md-4">
                    <div class="social-title social-pinterest"><a href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></div>
                </div>
                <div class="col-md-4">
                    <div class="social-title social-instagram"><a href="https://www.instagram.com/miroirdemuses/" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></div>
                </div>
            </div>



            <!-- <div class="row row-no-padding">
                <div class="col-md-4 col-xs-4">
                    <a class="instagram-photo" href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><div><div><span><i class="fa fa-pinterest"></i> My Self-Love</span></div></div><img src="{% static 'img/demo_img/insta/4.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a class="instagram-photo" href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><div><div><span><i class="fa fa-pinterest"></i> My Self-Love</span></div></div><img src="{% static 'img/demo_img/insta/1.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a class="instagram-photo" href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><div><div><span><i class="fa fa-pinterest"></i> My Self-Love</span></div></div><img src="{% static 'img/demo_img/insta/2.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a class="instagram-photo" href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><div><div><span><i class="fa fa-pinterest"></i> My Self-Love</span></div></div><img src="{% static 'img/demo_img/insta/3.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a class="instagram-photo" href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><div><div><span><i class="fa fa-pinterest"></i> My Self-Love</span></div></div><img src="{% static 'img/demo_img/insta/4.jpg' %}" alt="" /></a>
                </div>
                <div class="col-md-4 col-xs-4">
                    <a class="instagram-photo" href="https://fr.pinterest.com/miroirdemuses/" target="_blank"><div><div><span><i class="fa fa-pinterest"></i> My Self-Love</span></div></div><img src="{% static 'img/demo_img/insta/5.jpg' %}" alt="" /></a>
                </div>
            </div>
        </div> -->
    </section>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">Passez-nous le bonjour !</div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="section-subtitle">Une question, réclamation, recommandation ? Toute remarque est la bienvenue</div>
                    {% for field in form %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-to-action-button-wrap"><button type="submit" class="form-to-action-btn">ENVOYER</button></div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <section class="service colored">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <a href="https://www.payplug.com/fr/"><div class="service-secure"><div><span>PAIEMENT</span> 100% Sécurisé</div></div></a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="service-client"><div><span>SERVICE CLIENT</span> Besoin d'aide ?<br />Contactez-nous</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
