{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible alert-overlay" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
