{% extends 'lingerie_app/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}
    Votre livraison
{% endblock %}

{% block content %}
    <section class="shipping colored">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">Organisons votre livraison !</div>
                        </div>
                    </div>
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        <div class="section-subtitle" style="text-align:left;">Je souhaite être livrée :</div>
                        {# Checkboxes #}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    {{ shipping_address_form.deliver_to.0.tag }}
                                    <label for="{{ shipping_address_form.deliver_to.0.id_for_label }}">AU BUREAU <span class="highlight">PRATIQUE !</span>
                                        <span class="label-sub">Evitez la perte de temps à la Poste. Votre box sera livrée à votre travail dans un emballage exterieur totalement neutre.</span>
                                    </label>
                                </div>
                                {% for error in shipping_address_form.deliver_to.0.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    {{ shipping_address_form.deliver_to.1.tag }}
                                    <label for="{{ shipping_address_form.deliver_to.1.id_for_label }}">A DOMICILE</label>
                                </div>
                                {% for error in shipping_address_form.deliver_to.0.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {#  Name & First name  #}
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="form-field">{{ shipping_address_form.name|append_attr:"placeholder:Nom *" }}</div>
                                {% for error in shipping_address_form.name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <div class="form-field">{{ shipping_address_form.firstname|append_attr:"placeholder:Prénom *" }}</div>
                                {% for error in shipping_address_form.firstname.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {# Rest part of form #}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><!--<label>Société / Adresse ligne 1</label>-->{{ shipping_address_form.address_line1|append_attr:"placeholder:Société / Adresse ligne 1" }}</div>
                                {% for error in shipping_address_form.address_line1.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><!--<label>Adresse ligne 2 (facultatif)</label>-->{{ shipping_address_form.address_line2|append_attr:"placeholder:Adresse ligne 2 (facultatif)" }}</div>
                                {% for error in shipping_address_form.address_line2.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><!--<label>Code Postale</label>-->{{ shipping_address_form.postal_code|append_attr:"placeholder:Code Postal" }}</div>
                                {% for error in shipping_address_form.postal_code.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><!--<label>Ville</label>-->{{ shipping_address_form.city|append_attr:"placeholder:Ville" }}</div>
                                {% for error in shipping_address_form.city.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field"><!--<label>Telephone</label>-->{{ shipping_address_form.telephone|append_attr:"placeholder:Telephone" }}</div>
                                {% for error in shipping_address_form.telephone.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-field">
                                    {{ shipping_address_form.billing_address_is_same }}
                                    <label for="{{ shipping_address_form.billing_address_is_same.id_for_label }}">Mon adresse de facturation est identique</label>
                                </div>
                            </div>
                        </div>
                        {# Client Billing Form #}
                        <div id="billing_address_form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">{{  billing_address_form.billing_address_line1|append_attr:"placeholder:Société / Adresse ligne 1" }}</div>
                                    {% for error in billing_address_form.billing_address_line1.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">{{  billing_address_form.billing_address_line2|append_attr:"placeholder:Adresse ligne 2 (facultatif)" }}</div>
                                    {% for error in billing_address_form.billing_address_line2.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">{{  billing_address_form.billing_postal_code|append_attr:"placeholder:Code Postal" }}</div>
                                    {% for error in billing_address_form.billing_postal_code.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-field">{{  billing_address_form.billing_city|append_attr:"placeholder:Ville" }}</div>
                                    {% for error in billing_address_form.billing_city.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-to-action-button-wrap"><button type="submit" class="form-to-action-btn">CONTINUER</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="service colored">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="service-secure"><div><span>PAIEMENT</span> 100% Sécurisé</div></div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="service-client"><div><span>SERVICE CLIENT</span> Besoin d'aide ?<br />Contactez-nous</div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
