{% extends 'admin_dashboard_panel/base.html' %}
{% load staticfiles %}

{% block head_title %}
    Baskets - Dashboard Miroir de Muses
{% endblock %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Products - Dashboard</h1>
        <h2 class="sub-header">Products database</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Basket username</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for basket in baskets_list %}
                <tr>
                    <td>{{ basket.id }}</td>
                    <td>{{ basket }}</td>
                    <td>{{ basket.get_status_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}