{% extends 'admin_dashboard_panel/base.html' %}
{% load staticfiles %}

{% block head_title %}
    Dashboard - Miroir de Muses
{% endblock %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>

{#        <div class="row placeholders">#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#        </div>#}

        <h2 class="sub-header">Payed subscriptions</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Customer name</th>
                    <th>Processing start date</th>
                    <th>Amount</th>
                    <th>Payment state</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments_list %}
                <tr>
                    <td>{{ payment.id }}</td>
                    <td>{{ payment.user.first_name }} {{ payment.user.last_name }}</td>
                    <td>{{ payment.processing_start_date }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.payment_state }}</td>
                    <td>{{ payment.get_status_display }}</td>
                    <td>{{ payment.get_type_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}