{% extends 'admin_dashboard_panel/base.html' %}
{% load staticfiles %}

{% block head_title %}
    Products - Dashboard Miroir de Muses
{% endblock %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Products - Dashboard</h1>
        <h2 class="sub-header">Products database</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Reference code</th>
                    <th>Purchasing price</th>
                    <th>MDM price</th>
                    <th>Cat budget</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.reference_code }}</td>
                    <td>{{ product.purchasing_price }}</td>
                    <td>{{ product.mdm_price }}</td>
                    <td>{{ product.cat_budget }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}